/* BODY */
.body{
    background-color: white ;
    margin: 0 auto;
    height: 100%;
}




/* COINTAINER DIV TOTAL */
.container_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_div h1{
    margin-top: 50px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;

}

/* FORM */
.form_div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
    border: solid black 5px;
    padding: 5%;
    margin-bottom: 50px;
}

.form_div label{
    margin-top: 20px;
    font-family: 'Anton', sans-serif; 
}


.form_div input{
    
}

.products{
    display: flex;
    flex-direction: column;
    
    border-radius: 10%;
    border: solid black 5px;
    padding: 5%;
    margin-bottom: 100px;
}
.finish_product_button{
    display: none;
}

/* Products */
.products{
    display: none;
}

/* DIV Records */
.records_form{
    display: none;

    margin-top: 50px;
    
    flex-direction: column;
    
    border-radius: 10%;
    border: solid black 5px;
    padding: 5%;
    margin-bottom: 50px;
}
.records_form h1{
    font-family: 'Orbitron', sans-serif;
    border-bottom: black 4px solid;
    padding-bottom: 10px;
}

/* HELP */
.input_help{
    width: 50px;
    position: fixed;
    margin-top: 20px;
}

.help_div{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    display: none;
    justify-content: center;
    align-items: center;
}

.close_help{
    width: 20px;
    position: fixed;
    display: block;
    top: 4%;
    right: 4%;
}

.help_div2{
    width: 60%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:auto;
    
}

.first_step{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Anton', sans-serif;
}
.first_step img{
    width: 60%;
}

.example_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}


/* Horizontal scroll bar HELP*/

.help_div2::-webkit-scrollbar {
    -webkit-appearance: none;
}

.help_div2::-webkit-scrollbar:vertical {
    width:10px;
}

.help_div2::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.help_div2::-webkit-scrollbar:horizontal {
    height: 10px;
}

.help_div2::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.help_div2::-webkit-scrollbar-track {
    border-radius: 10px;  
}


@media (max-width: 768px) {
    .help_div2{
        width: 75%;
        height: 90%;
    }
    .example_text p{
        font-size: 15px;
    }
    .example_text{
        padding-left: 5%;
        padding-right: 5%;
    }
    .first_step img{
        width: 75%;
    }
}
