/* BODY */
.body{
    background-color: white ;
    margin: 0 auto;
    height: 100%;
    margin-top: 20px;
}

/* HELP */
.input_help{
    width: 50px;
    position: fixed;
}


/* COINTAINER DIV TOTAL */
.container_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_div h1{
    margin-top: 50px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;

}

/* FORM */
.form_div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
    border-radius: 10%;
    border: solid black 5px;
    padding: 5%;
    margin-bottom: 50px;
}

.form_div label{
    margin-top: 20px;
    font-family: 'Anton', sans-serif;
}

.form_div input{
    
}

.products{
    display: flex;
    flex-direction: column;
    
    border-radius: 10%;
    border: solid black 5px;
    padding: 5%;
    margin-bottom: 100px;
}
.finish_product_button{
    display: none;
}

/* Products */
.products{
    display: none;
}

/* DIV Records */
.records_form{
    display: none;

    margin-top: 50px;
    
    flex-direction: column;
    
    border-radius: 10%;
    border: solid black 5px;
    padding: 5%;
    margin-bottom: 50px;
}
.records_form h1{
    font-family: 'Orbitron', sans-serif;
    border-bottom: black 4px solid;
    padding-bottom: 10px;
}